[workspace]
members = ["crates/cli", "crates/core", "crates/web", "crates/demo/src-tauri"]
default-members = ["crates/cli", "crates/core", "crates/web"]
resolver = "2"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3

[profile.bench]
lto = "fat"
codegen-units = 1
